<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <h2>Friend</h2>
    <div class="friend-table">
      <b>Friend List</b>
      <table>
        <tr>
          <th>First-name</th>
          <th>Last-name</th>
          <th>Nick-name</th>
          <th>Github Pages</th>
        </tr>
        <tr>
          <td>Sukrit</td>
          <td>Noppakhun</td>
          <td>Eng</td>
          <td>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Noppakhun230/dom-assignment.html">
              LAB-02
            </a>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Noppakhun230/dom-assignment.html">
              LAB-03
            </a>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Noppakhun230/">
              LAB-04
            </a>
          </td>
        </tr>
        <tr>
          <td>Thanaporn</td>
          <td>Sae-pueng</td>
          <td>Poi</td>
          <td>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Thanaporn1501/lab.html?fbclid=IwAR3mCupXslssBEGhjRKLpI6SJI8WUOIIV4Q9CiDy7I80UKOsEFsHhs2zDjM">
              LAB-02
            </a>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Thanaporn1501/lab.html?fbclid=IwAR3Qkg3lxusr5k0v8kXRvOOZcOBUuJJ3_7XpdGFBuQAS94ApKGua0CLyz3A">
              LAB-03
            </a>
            <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Thanaporn1501/?fbclid=IwAR0b7lf2fcjYtod4d_sT-gP0gLh5fPaRYe9GTnUjp5yE0SU5rTGzbm9k-WU">
              LAB-04
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
