html{font-family:sans-serif;font-size:16px;text-align:center}.cmd-lab-button>a{color:#00f;text-decoration:none;border:1px solid blue;border-radius:10px;margin-left:.25ch;margin-top:.25ch;padding:1mm}
