<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="info-status">
    <h2>Status</h2>
    <table>
      <tr>
        <th>Curent Time</th>
        <td><b></b></td>
        <td>{{ timeStamp }}</td>
      </tr>
      <tr>
        <th>Vendor</th>
        <td><b></b></td>
        <td>{{ vendor }}</td>
      </tr>
      <tr>
        <th>User Agent</th>
        <td><b></b></td>
        <td>{{ userAgent }}</td>
      </tr>
      <tr>
        <th>Languages</th>
        <td><b></b></td>
        <td>{{ language }}</td>
      </tr>
      <tr>
        <th>Is Cookie Enabled ?</th>
        <td><b></b></td>
        <td>{{ cookie }}</td>
      </tr>
      <tr>
        <th>Logical Processors</th>
        <td><b></b></td>
        <td>{{ processor }}</td>
      </tr>
      <tr>
        <th>Max Touch Points</th>
        <td><b></b></td>
        <td>{{ maxTouch }}</td>
      </tr>
    </table>
  </div>
</body>
</html>

