<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h2>Status</h2>
  <table>
    <tr>
      <th>Cureent Time</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>Vendor</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>User Agent</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>Languages</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>Is Cookie Enabled ?</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>Logical Processors</th>
      <td>::</td>
      <td></td>
    </tr>
    <tr>
      <th>Max Touch Points</th>
      <td>::</td>
      <td></td>
    </tr>
  </table>
</body>
</html>

