.info-profile-content{
  text-align: left;
}

.cmd-lab-button>a {
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 2px;
  margin-left: 4px;
  padding: 0.5ch 0.5ch 0.5ch 0.5ch;
  font-style: solid;
  font-size: 5mm;
}
