<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
  <h2>My Profile</h2>
  <h2>Basic Information</h2>
    <div>
      <ul>
        <li>
          <b>Name: </b> Komchan Thongsen
        </li>
        <li>
          <b>Gender: </b> Male
        </li>
        <li>
          <b>Age: </b> 21
        </li>
      </ul>
    </div>
    <div>
      <h2>Autobiography</h2>
      <p>
        I was born on a cold, overcast day in 27 October in Nan, Thailand. but Now i live in Chiang Mai, Thailand, and I learn lesson in Chiang Mai university in one and a half of year,but in my second year we meet
        COVID-19 that make me must learn lesson by Zoom,MSteam application this situation make me lazy a little bit. BOW is my sister ,she hard-study too much beacuse now she must prepare to go to Chaing Mai university.
      </p>
    </div>
    <div>
      <h2>Github pages</h2>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-keemdedone/dom-simple06">LAB-02</a>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-keemdedone/dom-simple06">LAB-03</a>
      <a href="">LAB-04</a>
    </div>
  </body>
</html>
