html {
  font-family : sans-serif;
  font-size: 16px;
  text-align:center;
  }

a{
  color: blue;
}

a:hover{
    background-color: skyblue;
    color: aliceblue;
}

h1{
  text-decoration: underline;
}
